.hero-section {
    .carousel-item img {
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
    }

    .carousel {
        position: absolute; 
        width: 100%; 
        height: 120%; 
        z-index: -1;
        text-align: center;
        align-items: center;
    }
}