<section class="container my-5" id="about-us">
    <div class="row align-items-center">

        <div class="col-lg-6">
            <h2 class="display-5 fw-bold mb-4">Mais de 30 Anos de Tradição e Qualidade</h2>
            <p class="lead">
                Meu pai, com mais de três décadas de experiência, construiu sua reputação com base em um trabalho
                honesto,
                meticuloso e confiável. Em nossa oficina, cada máquina de construção, é tratada com o cuidado e o
                conhecimento de quem realmente entende
                do assunto.
            </p>
            <p>
                Nossa história começou pequena, com a paixão por ferramentas e a vontade de resolver problemas de
                verdade.
                Hoje, seguimos os mesmos valores, garantindo que o seu equipamento volte a funcionar com o mesmo
                desempenho de fábrica. A confiança de nossos clientes é o nosso maior legado.
            </p>
        </div>
    </div>
</section>