<h2 class="text-center mb-4" id="services">Nossos Serviços</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-hammer fs-1 text-primary"></i>
                <h5 class="card-title mt-2">Martelos Demolidores</h5>
                <p class="card-text">Manutenção completa, troca de peças, reparo de motor e mais.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-hammer fs-1 text-primary"></i>
                <h5 class="card-title mt-2">Serra mármore</h5>
                <p class="card-text">Manutenção completa, troca de peças, reparo de motor e mais.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-hammer fs-1 text-primary"></i>
                <h5 class="card-title mt-2">Furadeira</h5>
                <p class="card-text">Manutenção completa, troca de peças, reparo de motor e mais.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-hammer fs-1 text-primary"></i>
                <h5 class="card-title mt-2">Esmiriladeira</h5>
                <p class="card-text">Manutenção completa, troca de peças, reparo de motor e mais.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-hammer fs-1 text-primary"></i>
                <h5 class="card-title mt-2">Parafusadeira</h5>
                <p class="card-text">Manutenção completa, troca de peças, reparo de motor e mais.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
                <i class="bi bi-hammer fs-1 text-primary"></i>
                <h5 class="card-title mt-3">Em breve...</h5>
                <p class="card-text">Geradores.</p>
            </div>
        </div>
    </div>
</div>